<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     
    <link rel="stylesheet" href="../styles/style.css"> 

    <h1>TweetBook</h1>
  </head>
  <body>
    {{#if loggedIn}}
      <div style="width: 100%; text-align: right">
        <a href="/users/logout">Logout</a>
      </div>
    {{/if}}
    {{{ body }}}
  </body>
</html>
