
<h2>Login</h2>
<h3><a href="/">Back to Home Page</a></h3>
<br>
<form action="/users/login" method="POST">
  <input name="email" placeholder="Email"/>
  <input name="password" placeholder="Password" type="password"/>
  <button>Submit</button>
</form>
