<h3>Thanks for signing up!</h3>
<h3>Here are your other friends who have signed up for TweetBook:</h3>



<ul>
{{#each allProfiles}}
  <li><a href='/users/{{this.id}}'>{{this.name}}</a> | {{this.age}} | {{this.profession}}</li>
{{/each}}
</ul>