
<h1>TweetBook</h1>
<h2>Register Here</h2>
<form action='/users' method='POST'>
	<input name='email' placeholder='Email'/>
	<input name='password' placeholder='Password' type='password'/>
	<button>Submit</button>
</form>