
<h1>TweetBook</h1>
<h2>Sign up</h2>
<form action='/users/register' method='POST'>
	<input name='email' placeholder='Email'/>
	<input name='password' placeholder='Password' type='password'/>
	<input name='name' placeholder='First and Last Name'/>
	<input name='title' placeholder='Title'/>
	<input name='copmany' placeholder='Company'/>
	<input name='image' placeholder='Copy Image Address Here'/>
	<button>Submit</button>
</form>